{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: ./static/assets/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ data[0] }}</h1>
            <h2 class="subheading">{{ data[1] }}</h2>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            {{ data[2] }}
          </p>
          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}